# Contact Form
NEXT_PUBLIC_FORMSPREE_URL=https://formspree.io/f/mqakpzvz

# Social Links
NEXT_PUBLIC_GITHUB_URL=https://github.com/ankit-0903
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/ankit-kumar-gupta-a39688234
NEXT_PUBLIC_GMAIL=ankit.kumar121897@gmail.com
NEXT_PUBLIC_WHATSAPP=https://wa.me/919353198677
NEXT_PUBLIC_INSTAGRAM=https://www.instagram.com/ankit.gupta1218/
NEXT_PUBLIC_FACEBOOK=https://m.facebook.com/ankit.gupta1218/

# Analytics (Optional)
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
